@page
@model RazorPagesEventMakerInClass22.Pages.TestModel
@{
    ViewData["Title"] = "Pouls testside";
}
<h1>Dette er min test side</h1>

<p>
    <h1>Dette er meningen med livet @Model.AnswerToMeaningOfLife  som er det endelige resultat </h1>

    <h2>navnet er @Model.Name</h2>
</p>